.content{
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
}

.hero-form {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.buttons-content{
    display: flex;
    justify-content: space-between;
}

.input-name{
    text-transform: capitalize !important;
}