<div class="content">
    <h2>{{id ? 'Modify hero' : 'Create hero'}}</h2>

    <form class="hero-form" [formGroup]="formHero" (ngSubmit)="onSave()">
        @if (id) {
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
        </mat-form-field>
        }
        <mat-form-field class="input-full-width">
            <mat-label>Hero name</mat-label>
            <input matInput class="input-name" formControlName="name">
            <mat-error *ngIf="formHero.get('name')?.hasError('required')" >
                Name is required
            </mat-error>
        </mat-form-field>
        <div class="buttons-content">
            <button mat-raised-button type="button" (click)="goBack()">Back</button>
            <button mat-raised-button type="submit" color="primary" [disabled]="!formHero.valid">{{id ? 'Save' : 'Create'}}</button>
        </div>
    </form>
</div>